// .ant-layout-header {
//     position: fixed;
//     right: 0;
//     left: 225px;
//     z-index: 9;
//     border-bottom: 1px solid #f0f2f5;
// }

// Login Header Style Start
.LoginHeaderConatiner {
    background: #f2f4f8;
    height: auto;
    width: 100%;
    padding: 15px 0;

    .header-logo-container {
        img {
            height: 45px;
        }
    }

}
// Login Header Style End

.ProfileMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
    border-bottom: 1px solid #f0f2f4;

    .dropdown-link-name {
        font-size: 15px;
        color: #514d6a;
        font-weight: 500;
        margin: 0 14px;
        cursor: pointer;
        margin-right: 0;
    }

    .ant-dropdown {
        font-family: 'Montserrat', sans-serif;
        left: 1148.5px;
        width: 120px;
    }

    .ant-dropdown-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;


        .ant-avatar {
            width: 40px;
            height: 40px;

            .anticon {
                font-size: 22px;
            }
        }

        .anticon-caret-down {
            font-size: 19px;
            color: #d2d9e5;
        }

       
    }
}